[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-yasg = "*"
djangorestframework = "*"
django = "==4.0.6"
django-environ = "*"
psycopg2 = "==2.9.3"
django-filter = "*"
django-debug-toolbar = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
